        <section class="main">
            <div class="search_area">
                <div class="">
                    <h1 class="title">BLACK BUSINESS DATABASE</h1>
                </div>
                <div class="search_form">
                    <input type="text" class="search_box" placeholder="search for a business">
                </div>
                <div class="quick_links">
                    
                    <label class="contain">NORTH AMERICA
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                    </label>
                    <label class="contain">SOUTH AMERICA
                    <input type="checkbox">
                    <span class="checkmark"></span>
                    </label>
                    <label class="contain">EUROPE
                    <input type="checkbox">
                    <span class="checkmark"></span>
                    </label>
                    <label class="contain">AFRICA
                    <input type="checkbox">
                    <span class="checkmark"></span>
                    </label>

                </div>
            </div>
        </section>
        <section class="footer">
            <div class="copy_right">
                Copy right Black Business Database 
            </div>
        </section>
