<section class="main">
    <%= form_tag(businesses_path,id: 'search_business_form', method: "get") do %>
  <div class="search_area">
    <div class="">
      <h1 class="title">Black Business Database </h1>
    </div>

      <div class="search_form">
        <div class="search_form_box">
          <input type="text" class="search_box" name="search" value="<%= params[:search] %>" placeholder="search for a business">
          <span>
            <button type="submit"><i class="fas fa-search fa-lg"></i></button>
          </span>
        </div>
      </div>
  </div>
    <% end %>
</section>
