        <section class="main">
            <div class="search_area">
                <div class="">
                    <h1 class="title">BOrium Society </h1>
                </div>
                <div class="search_form">
                    <%#= search_form_for @q do |f| %>
                    <%#= search_form_for @q, url: '' , method: :get do |f| %>
                     <input type="text" class="search_box" placeholder="search for a business">
                    <%#= f.search_field :business_type_cont ,class:"search_box" ,placeholder:"search for a business"%>
                   
                   
                </div>
                <div class="quick_links">
                    
                    <label class="contain">NORTH AMERICA
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                    </label>
                    <label class="contain">SOUTH AMERICA
                    <input type="checkbox">
                    <span class="checkmark"></span>
                    </label>
                    <label class="contain">EUROPE
                    <input type="checkbox">
                    <span class="checkmark"></span>
                    </label>
                    <label class="contain">AFRICA
                    <input type="checkbox">
                    <span class="checkmark"></span>
                    </label>

                </div>
                 
                <%# end %>
            </div>
        </section>
        
