        <section class="main">
            <div class="search_area">
                <div class="">
                    <h1 class="title">Black Business Database </h1>
                </div>
                <div class="search_form">
                     <input type="text" class="search_box" placeholder="search for a business">
                   
                   
                </div>
                <div class="quick_links">
                    
                    <label class="contain">NORTH AMERICA
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                    </label>
                    <label class="contain">SOUTH AMERICA
                    <input type="checkbox">
                    <span class="checkmark"></span>
                    </label>
                    <label class="contain">EUROPE
                    <input type="checkbox">
                    <span class="checkmark"></span>
                    </label>
                    <label class="contain">AFRICA
                    <input type="checkbox">
                    <span class="checkmark"></span>
                    </label>

                </div>
                  <div class="logins only_mobile">
                        <span class="frontpage log"> <%=link_to 'Login', new_user_session_path%>  </span>
                        <span class="frontpage reg"> <%=link_to 'Register A Business', new_user_registration_path%>  </span>
                  </div>
            </div>
        </section>
        
