$dark_gray: #3C3C3C;
$light_gray: #DFDFDF;
$font_white: #fff;

.body_wrapper{
    width: 100%;
    height: 100vh;
    background-color: rgb(95, 95, 95);
    background-image: url(/assets/blackwallstreet.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

section.nav{
    padding-top: 20px;
}
.container{
    width: 100vw;
    height: 100%;
    max-width: 1500px;
    margin:  auto;
    display: grid;
    place-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: .7fr 6fr .3fr;
    padding: 0 20px;
    position: relative;
}

.navbar{
    //background-color: chocolate;
    display: flex;
    height: 100%;
    justify-content: space-between;

    

    .site_logo{
        align-self: center;
    } 
    .site_menu{
    //background-color: red;
    align-self: center;
    justify-content: space-around;
    display: flex;
    gap: 20px;

    }
} 
.search_area{
    margin-top: 3px;
    padding-top: 150px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
} 

.quick_links{
    flex-direction: column;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 8px;
}

.copy_right{
    //background-color: darkgrey;
    height: 100%;
    text-align: center;
}

// Headings
h1.title{
    font-size: 1.5rem;
    text-shadow: .5px .5px rgb(168, 168, 168);
}

// INPUTS

input[type="text" ]{
    
}

// Links
a.frontpage{
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;


}

.no_mobile{
    display: none;
}

.only_mobile{
    display: block;
}

input.search_box{
    width: 80vw;
    height: 3rem;
    border-radius: 100px;
    border: 1px solid $dark_gray;
    padding-left: 15px;
    color: $dark_gray;
    background-color: $font_white;
&::before{
    content: "one";
}
}
::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $dark_gray;
    opacity: 1;
    position: absolute;
    left: 70px;
    top: 0px;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color:$dark_gray;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: $dark_gray;
}


@media screen and (min-width: 500px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
    }

      .no_mobile {
          display: inline-block;
      }
      .only_mobile {
          display: none;
      }
     
     .quick_links {
         flex-direction: row;
         gap: 14px;
     }
}

@media screen and (min-width: 1280px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
    }
    .no_mobile {
        display: inline-block;
    }
           
    .only_mobile{
        display: none;
    }
    h1.title {
        font-size: 3rem;
    }

    input.search_box {
        width: 35vw;
        height: 3.5rem;
        
    }

    .search_area {
        //background-color: crimson;
        gap: 25px;
    }

    .quick_links {
        flex-direction: row;
        gap: 16px;
    }
}

// .no_mobile{
//     display: none;
// }

.contain {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.contain input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}

/* On mouse-over, add a grey background color */
.container:hover input~.checkmark {
    background-color: rgb(255, 255, 255);
}

/* When the checkbox is checked, add a blue background */
.contain input:checked~.checkmark {
    background-color: #000000;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
    
}

/* Show the checkmark when checked */
.contain input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.contain .checkmark:after {
    left: 9px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

