$dark_gray: #3C3C3C;
$light_gray: #DFDFDF;
$bg_success: #81dd81;
$bg_danger: #fa7575;



.body_wrapper{
    background-image: url(/assets/blackwallstreet.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}

h1,h2,h3,h4,h5{
    color: $dark_gray;
    a{
        color: $dark_gray;
    }
}
.padding-sm{
    padding: 5px;
}

.bg-success, .bg-danger{
    font-size: 80%;
    padding: 5px;
    border-radius: 6px;
}
.bg-success{
    
    background-color: $bg_success;
}
.bg-danger {
    background-color: $bg_danger;
}
.navbar_landing{
   margin-top: 30px;
   max-width: 400px;
   margin: auto;
   margin-left: 30px;
   
}
.navbar {
    //background-color: chocolate;
    display: flex;
    justify-content: space-between;
    height: 95%;
  .site_logo {
        align-self: center;
        height: 100%;
    }
ul.nav_links {
    display: flex;
    color: $dark_gray;
    position: relative;
    align-items: center;
    text-decoration: none;
    justify-content: space-around;
    font-weight: 700;
    text-transform: uppercase;
    li{
        color: inherit;
        list-style: none;
        text-decoration: none;
        
    }
     
     }

    .nav_items{
        padding-right: 15px;
        color: inherit;
        text-decoration: none;
        a{
            color: inherit;
        }
      
}

.click{
    cursor: pointer;
}
    .dropnav {
        -webkit-box-shadow: 0px 3px 5px 0px rgba(158, 158, 158, 1);
        -moz-box-shadow: 0px 3px 5px 0px rgba(158, 158, 158, 1);
        box-shadow: 0px 3px 5px 0px rgba(158, 158, 158, 1);
        padding: 20px;
        background-color: white;
        border: 1px solid $light_gray;
        top: 58px;
        width: 220px;
        position: absolute;
        display: none;
        right: 0;
        flex-direction: column;
        a{
            
            text-decoration: none;
            text-transform: capitalize;
        }
        .dropnav__wrapper{
            display: flex;
            flex-direction: column;
            .drop_down_items{
                padding: 10px 0;
            }
        }
    }

    

    .site_menu {
        //background-color: red;
        align-self: center;
        justify-content: space-around;
        position: relative;
        display: flex;
        gap: 20px;

    }
}
.bg-verified,
.bg-not-verified {
    border-radius: 6px;
    padding: 5px;
    color: white;
    
}
.bg-verified , .bg-not-verified{
    font-size: 80%;
    
  
}
.bg-not-verified{
background-color: $bg_danger;

}

.bg-verified{
     background-color: $bg_success;
}



section.main_landing{
    display: grid;
    place-content: center;
}

.search_area {
    //background-color: aqua;
    margin-top: 3px;
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //background-color: aqua;
    gap: 10px;
}

section.index{
    display: grid;
    grid-template-columns: 1fr;
    
    grid-template-rows: .5fr auto;
    row-gap: 10px;
}

section.business_show{
    background-color: #fff;
}
section.advanced_search{
    //background-color: rgb(4, 116, 110);
    display: grid;
    place-content: center;
    padding: 80px 0;
    
}
section.card{
    //background-color: coral;
    //border: 2px solid rgb(0, 4, 238);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;

    
}
.business_card{
    display: grid;
    margin-bottom: 5px;
    justify-content: space-around;
    grid-template-columns: 1fr auto ;
    grid-template-rows: 200px;
}
.business_card_thumbnail{
    align-self: center;
    margin-right: 3px;
    img{
        width: 100%;
    }
}
.business_card_details{
    font-size: 90%;
    margin-bottom: 5px;
    padding: 5px 0;
    display: flex;
    justify-content: space-around;
    .buisiness_partnership{
        color: white;
        display: flex;
        font-weight: 500;
        align-items: center; 
        .flex_item1 {
           padding: 3px;
            background-color: $light_gray;
        }
       .flex_item2{
            padding: 3px;
       }
    }

    .location{
        font-size: 80%;
        display: flex;
        color: white;
        font-weight: 600;
        text-transform: uppercase;
        

        .continent{
        padding: 5px;     
         background-color: black;
        }
        .country {
            padding: 5px;
            background-color: $dark_gray;
        }
        .city {
            padding: 5px;
            background-color: lightgray;
        }
    }
}

section.login ,section.registration {
    
    //background-color: brown;
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    place-items: center;
}

.login_form, .registration_form{
    width: 60%;
    border: 1px solid black;
    //background-color: crimson;
    display: grid;
    grid-template-columns: 1fr 2fr;
}



.quick_links{
    flex-direction: column;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 8px;
}

.copy_right{
    //background-color: darkgrey;
    height: 100%;
    text-align: center;
}

// Headings
h1.title{
    font-size: 1.5rem;
    text-shadow: .5px .5px rgb(168, 168, 168);
}

// INPUTS

input[type="text" ]{
    
}

// Links
span.frontpage, a.frontpage{
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
   a{
     
       font-size: 80%;
   }


}

.logins {
    display: flex;
    justify-content: space-between;
}
.reg ,.log{
    border: 1px solid white;
    border-radius: 8px;
    padding: 5px;
    
   
}

.log{
    margin-right: 3px;
 background-color: $dark_gray;
  a {
      color: $light_gray;
  }
}

.reg{
background-color: $light_gray;
    a{
        color: $dark_gray;
    }
}
.no_mobile{
    display: none;
}

.only_mobile{
    display: block;
}

input.search_box{
    width: 80vw;
    height: 3rem;
    border-radius: 100px;
    border: 1px solid $dark_gray;
    padding-left: 15px;
    color: $dark_gray;
    background-color: #fff;
&::before{
    content: "one";
}
}
::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $dark_gray;
    opacity: 1;
    position: absolute;
    left: 70px;
    top: 0px;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color:$dark_gray;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: $dark_gray;
}


     

    

     .business_card_details {
         font-size: 1em;
         display: flex;
         //border: 2px solid black;
         flex-direction: column;
         width: 100%;
     }


.padding-sm{
    padding: 70px;
}
@media screen and (min-width: 1280px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Montserrat', sans-serif;
    }

    .limits {
        max-width: 1440px;
        margin: auto;
    }

    .business_card {
        padding: 15px 0;
        display: grid;
        margin: 5px;
        justify-content: space-around;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: minmax(250px auto);
       
    }
    section.card {
        //background-color: coral;
        //border: 2px solid rgb(0, 4, 238);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        grid-template-rows: auto;
    }
    .business_card_thumbnail {
        align-self: center;
        margin-right: 3px;
        padding: 10px;
        img{
           
            width: auto;
        }

        
    }
    .no_mobile {
        display: inline-block;
    }
           
    .only_mobile{
        display: none;
    }
    h1.title {
        font-size: 3rem;
    }

    input.search_box {
        width: 35vw;
        height: 3.5rem;
        
    }

    .search_area {
        //background-color: crimson;
        gap: 25px;
    }

    .quick_links {
        flex-direction: row;
        gap: 16px;
    }

}
.navbar_landing {
    margin-top: 60px;
    max-width: 1440px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
// .no_mobile{
//     display: none;
// }



/* Hide the browser's default checkbox */
.contain input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}

/* On mouse-over, add a grey background color */
.container:hover input~.checkmark {
    background-color: rgb(255, 255, 255);
}

/* When the checkbox is checked, add a blue background */
.contain input:checked~.checkmark {
    background-color: #000000;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
    
}

/* Show the checkmark when checked */
.contain input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.contain .checkmark:after {
    left: 9px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

