$dark_gray: #3C3C3C;
$light_gray: #dddddd;
$bg_color: #ffffff;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat',sans-serif;
    font-size: 13px;
    //background-color: $light_gray;
   

}


.business_main{
 background-color: $bg_color; 
 

}
.padding_xs{
    padding: 10px;
}
.bg_gray{
    background-color: $light_gray
}
body ,html {
    height: 100vh
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400;500;600;700&family=Montserrat:wght@200;400;600;700&display=swap');

