<section class="section">
    <div class="">
      <h1>Privacy</h1>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut voluptates impedit veniam esse quo magni tempore saepe rerum laboriosam, nisi, neque eos facere veritatis eius optio deserunt quaerat distinctio dolorum.
            Aliquid natus voluptates, rerum quae veniam quas ipsam architecto ratione magnam debitis temporibus sint hic facilis quasi voluptate corporis sunt iusto consequuntur. Quis, aut fugiat. Quaerat facere alias totam dolores.
            Consequatur debitis optio, itaque sed vitae harum repellat numquam! Natus, repellat nostrum voluptatibus aperiam doloremque praesentium assumenda culpa quos officia veniam doloribus vitae odio, nihil ullam facilis tempore itaque eaque?
            Maxime consectetur necessitatibus unde sint ea quam harum ut ullam. Quibusdam optio quod quos quasi in commodi ipsum sed iusto accusamus possimus, asperiores itaque totam impedit velit, sint minus? Ab!
            <br>
              <%=form_with model: @user, url:wizard_path, method: :put do |f|%>
            <%= f.submit "Accepts Terms and Contitions"%>
            <%end%>
            
    </div>

</section>